
body {
    background: #aaaaff;
}

.top-level-div {
    display: flex;
    min-height: 100vh;
    height:100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 900px;
    max-width:400px;
}

.board {
    border: 1px solid blue;
    flex: 1;
    //max-height: 300px;
}

.navbar {
    border: 1px solid red;
    //flex-shrink: 0;
}
